* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --red: #f80032;
    --lightRed: #eb3343;
    --lighGray: #979494;
    --lighBlack: #666464;
    --borderInput: #e2d8d8;
    --white: #ffff;
    --black: #0000;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

header {
    background-color: var(--red);
    height: 85px;
    display: flex;
    align-items: center;
}

header img {
    width: 170px;
    margin-left: 7vw;
}

/* Fim Header */

.title {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.title div {
    text-align: center;
    margin: 60px 0 25px 0;
}

.title div h2 {
    margin: 20px 0;
    font-size: 38px;
    color: var(--lighBlack);
}

.title div p {
    color: var(--lighBlack);
    max-width: 611px;
    font-size: 19px;
    margin-bottom: 10px;
}

.title .campos-obrigatorios {
    color: var(--Black);
    font-size: 12px;
}

.obrigatorio {
    color: var(--red);
}

@media screen and (max-width: 770px) {
    .title {
        justify-content: left;
    }

    .title div {
        text-align: left;
    }

    .title div h2 {
        font-size: 26px;
    }

    .title div p {
        font-size: 14px;
    }
}

/* Fim Title */

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px;
}

.nome {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    max-width: 400px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--borderInput);
    margin: 0 0 20px 0;
}

form {
    width: 95%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin: 10px 0 2px 0;
    color: var(--lighBlack);
    font-size: 17px;
}

form .genero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.genero p {
    color: var(--lighGray);
    font-size: 14px;
    width: 100%;
    min-width: 200px;
}

.genero .inputsGenero {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
    justify-content: left;
    margin: 15px 0;
    color: var(--lighGray);
    width: 100%;
}

.genero .inputsGenero div {
    display: flex;
    align-items: center;
    width: 140px;
}

.inputsGenero input {
    width: 23px;
    margin: 0 5px;
    position: relative;
}

.inputsGenero input[type="radio"]::before {
    border: 2px solid var(--lighGray);
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 11px;
}

.nascimento {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nascimento p {
    color: var(--lighGray);
    font-size: 14px;
}

.nascimento input,
.cpf input,
.telefone input {
    display: flex;
    text-align: center;
    margin: 10px 0;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: 1px solid var(--borderInput);
}

.nascimento input::-webkit-input-placeholder,
.cpf input::-webkit-input-placeholder,
.telefone input::-webkit-input-placeholder {
    color: var(--borderInput);
}

.cpf {
    margin: 15px 0;
}

.cpf p,
.telefone p,
.senha p {
    color: var(--lighGray);
    margin: 5px 0;
}

.cpf a {
    color: var(--lighBlack);
}

.telefone,
.senha {
    margin: 15px 0;
}

.telefone div {
    display: flex;
    align-items: center;
    gap: 0 5px;
    color: var(--lighBlack);
}

.telefone div input {
    width: 18px;
}

.email div {
    color: var(--lighBlack);
}

.email div input {
    margin: 0 2px 0 0;
    vertical-align: middle;
    position: relative;
    top: -1px;
    width: 18px;
    color: var(--lighBlack);
}

.senha input {
    width: 258px;
}

.senha .dados {
    display: flex;
    align-items: center;
    gap: 0 5px;
}

.senha div input {
  width: 30px;
}

.senha .dados p,a {
    color: var(--lighBlack)
}

.btn-cadastro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    text-align: center;
    color: var(--white);
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 3px;
    width: 234px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 30px;
}

button:hover {
    background-color: var(--lightRed);
}

.btn-cadastro p {
    color: var(--lighBlack);
    margin-bottom: 30px;
}

.btn-cadastro a {
    color: #504c4c;
    font-weight: 600;
}

@media screen and (max-width: 770px) {

    form {
        max-width: 800px;
    }

    .genero div {
        width: 210px;
    }

    .genero p,
    .nascimento p,
    .cpf p,
    .telefone p {
        font-size: 11px;
    }

    .genero .inputsGenero {
        min-width: 250px;
        max-width: 430px;
    }

    .cpf a {
        font-size: 14px;
    }

}


@media screen and (max-width: 770px) {
    .form {

    }
}

/************ end cadastro ************/


/* pagina de login em desenvolvimento!! */

/* cod temporario */

.codeTemporario {
    background-color: var(--lighBlack);
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.codeTemporario h1 {
    width: 90%;
    color: white;
    font-size: 2rem;
    text-align: center;
}
