* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --red: #f80032;
    --lightRed: #eb3343;
    --lighGray: #979494;
    --lighBlack: #666464;
    --borderInput: #e2d8d8;
    --black: #0000;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

header {
    background-color: var(--red);
    height: 85px;
    display: flex;
    align-items: center;
}

header img {
    width: 170px;
    margin-left: 7vw;
}

/* Fim Header */

.title {
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.title div {
    text-align: center;
    margin: 60px 0 25px 0;
}

.title div h2 {
    margin: 20px 0;
    font-size: 38px;
    color: var(--lighBlack);
}

.title div p {
    color: var(--lighBlack);
    max-width: 611px;
    font-size: 19px;
    margin-bottom: 10px;
}

.title .campos-obrigatorios {
    color: var(--Black);
    font-size: 12px;
}

.obrigatorio {
    color: var(--red);
}

@media screen and (max-width: 770px) {
    .title {
        justify-content: left;
    }
    
    .title div {
        text-align: left;
    }

    .title div h2 {
        font-size: 26px;
    }

    .title div p {
        font-size: 14px;
    }
}

/* Fim Title */

.form {
    display: flex;
    justify-content: center;
    width: 100%;
    padding:0 10px;
}

.nome {
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    max-width: 400px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--borderInput);
    margin: 0 0 20px 0;
}

form {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin: 10px 0 2px 0;
    color: var(--lighBlack);
    font-size: 17px;
}

form .genero {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.genero p {
    color: var(--lighGray);
    font-size: 14px;
    width: 100%;
    min-width: 200px;
}

.genero .inputsGenero {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
    justify-content: left;
    margin: 15px 0;
    color: var(--lighGray);
    width: 100%;
}

.genero .inputsGenero div {
    display: flex;
    align-items: center;
    width: 140px;
}

.inputsGenero input{
    width: 23px;
    margin: 0 5px;
    position: relative;
}

.inputsGenero input[type="radio"]::before {
    border: 2px solid var(--lighGray);
    content: "";
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 11px;
}

.nascimento {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nascimento p {
    color: var(--lighGray);
    font-size: 14px;
}

.nascimento input{
    display: flex;
    text-align: center;
    margin: 10px 0;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: 1px solid var(--borderInput);
}

.nascimento input::-webkit-input-placeholder {
    color: var(--borderInput);
}

.cpf input {
    display: flex;
    text-align: center;
    margin: 10px 0;
    width: 120px;
    height: 45px;
    font-size: 18px;
    border: 1px solid var(--borderInput);
}

.cpf input::-webkit-input-placeholder {
    color: var(--borderInput);
}

.cpf p {
    color: var(--lighGray);
}

@media screen and (max-width: 770px) {
    .form {
        justify-content: left;
    }

    form {
        max-width: 800px;
    }

    .genero div {
        width: 210px;
    }

    .genero p {
        font-size: 11px;
    }

    .genero .inputsGenero {
        min-width: 250px;
        max-width: 430px;
    }

    .nascimento p {
        font-size: 11px;
    }

    .cpf p {
        font-size: 11px;
    }
}